# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

.idea/
.vscode
.DS_Store

CDNTaskFC/aliyun/functioncompute/src/test/

# ** matches one or more dir
# * maches any character but not /, ie, match one dir only
# this ignores all config files under app/$service/ directory
# **/app/*/*.conf

*.log
*.log.*

.devspace

/cloud-dev/devspace/**/build
/cloud-dev/devspace/**/values.yaml
/cloud-dev/common/**/values.yaml
/cloud-dev/helm/output
/cloud-dev/devspace/dn_deploy/dockerfile/conf